/* Basic styling for the quiz */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.4); /* Black color with 50% opacity */
    background-blend-mode: multiply; /* Blends the color with the image */    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url(quiz.webp);
    background-size: cover;
}
 h2 {
    margin-top: -20px;
    text-shadow: rgb(0, 0, 0) 3px 0 7px;
    font-size: 3rem;
 }

.quiz-container {
    background-color: rgb(82, 82, 82);
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.question {
    font-size: 18px;
}

.choices {
    margin-top: 20px;
    display: flex;
    justify-content: space-between 10px;
    gap: 10px;
}

.choice {
    display: block;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 40%;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

button:hover {
    background-color: #45a049;
}